[submodule "robot_work_zone_estimation"]
	path = robot_work_zone_estimation
	url = https://github.com/rahowa/robot_work_zone_estimation.git
[submodule "yolo_v3"]
	path = yolo_v3
	url = https://github.com/mattroz/PyTorch-YOLOv3.git
[submodule "py_rtde"]
	path = py_rtde
	url = https://github.com/MercymeIlya/py_rtde.git
